/bin/
./studentskills/src/BUILD/
/.vs/

.project
.classpath
input.txt
output1.txt
*/input.txt
*/output.txt
*/bin/
**/bin/

modify.txt
error.txt
output2.txt
output3.txt
*/output1.txt
*/output2.txt
*/output3.txt
*/modify.txt
*/error.txt